<app-banner [data]="'Discover latest courses on angular'"></app-banner>

<div class="coursepage-container">
    <div class="d-flex mg-b-1rem">
        <main>
            <div class="mg-b-1rem">
                <span class="font-bold">My wishlist</span> 
                <select name="courseprice" id="courseprice" class="float-right" (change)="sortWishList($event)">
                    <option value="price">Course Price</option>
                    <option value="lowToHigh">Low To High</option>
                    <option value="highToLow">High To Low</option>
                </select>
            </div>
            <div *ngIf="wishList.length === 0">
                Add courses to see them in wishlist
            </div>
            <div class="card-container mt-4" *ngIf="wishList">
                <!-- all cards are placed here-->
                <app-course-card *ngFor="let course of wishList"
                    [courseId]="course.id"  
                    [courseTitle]="course.title"
                    [tags]="course.tags"
                    [courseCreater]="course.author"
                    [isInCart]="false"
                    [originalPrice]="course.actual_price"
                    [discount]="course.discounted_price"
                    [showStars]="false"
                    [showDiscount]="true"
                    [showDelete]="true"
                    [showArrow]="true"
                    [arrowLink]="'/detailcourse/' + course.id"
                    [showMoveToWishListText]="false"
                    [showAddToCart]="true"
                    [addToCartFunction]="addToCart"
                    [deleteFromListFunction]="deleteFromWishList"
                ></app-course-card>
            </div>
        </main>
        <aside class="hide-when-screen-small">
            
            <div class="cart-details mt-4">
                <!-- cart details are placed here-->
                <p class="text-align-center">Your Cart Details</p>
                <hr>
                <div *ngIf="!cartList" class="mt-2 mb-1">
                    <p>Your cart is empty rightnow please add courses in the cart from the list</p>
                </div>
                <div class="mb-3 shadow " *ngFor="let course of  cartList">
                    <div class="d-flex pt-3">
                        <img src="../../assets/images/course-img.svg" alt="">
                        <p class="fs-small">{{ course.title }}</p>
                    </div>
                    <p class="text-align-right fs-small"><strong> Rs {{ calculateDiscount(course.actual_price,course.discounted_price) }}/-</strong></p>
                </div>
                <hr>
                <hr class="mg-t-5rem">
                <div class="d-flex fs-small justify-content-space-between">
                    <p>Total Cart Value <br> <strong>Rs {{ cartAmount }}/-</strong></p>
                    <!-- <p class="text-color-orange">GO TO CHECKOUT</p> -->
                </div>
            </div>
        </aside>
    </div>
    
</div>

